[Unit]
Description=NFS remote storage for ELK logs
After=network.target

[Mount]
What=files.umcstlab.net:/nfs/secure/labs/lab1-2019
Where=/mnt/nfs
Type=nfs
Options=rw,retry=2

[Install]
WantedBy=multi-user.target
